#Core LangChain libraries
langchain
langchain-core
langchain-community
langchain-huggingface

#For integrating with OpenAI models (we'll use this later)
openai

#Document Loaders
pypdf
python-docx
unstructured
jq

# Vector Store & Embeddings
faiss-cpu
sentence-transformers
tiktoken
InstructorEmbedding